 ## What is Anaconda #
[Anaconda Distribution](https://www.anaconda.com/distribution)

 ## How does Jupyter work #
Jupyter is a notebook interface that allows editing and running code (e.g., Python) and rich text elements (figures, tables, links...) via a web browser. 

- [Jupyter Notebook](http://jupyter.org/)
- [What is the Jupyter Notebook](http://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/what_is_jupyter.html)

In [ ]:
5 main data types : Numbers, String, List, Tuple, Dictionary <br> 
7 basic arithmatic operators : +, -, *, /, %, //, **

# Numbers

In [1]:
print('7 + 3 = ', 7+3)
print('7 - 3 = ', 7-3)
print('7 * 3 = ', 7*3)
print('7 / 3 = ', 7/3)
print('7 % 3 = ', 7%3)
print('7 // 3 = ', 7//3)
print('7 ** 3 = ', 7**3)

# Order matters : PEMDAS
# print('1+2-3*4 is different from (1+2-3)*4 ,\n i.e.', 
#      '1+2-3*4 is', 1+2-3*4, 'but, (1+2-3)*4 is', (1+2-3)*4)

7 + 3 =  10
7 - 3 =  4
7 * 3 =  21
7 / 3 =  2.3333333333333335
7 % 3 =  1
7 // 3 =  2
7 ** 3 =  343

# Strings

In [2]:
string_0 = 'Howdy! Aggie rocks.'

string_1 = '''Howdy!
Aggie rocks.'''

print(string_0)
print(string_1)

#print('\n')

#string_2 = string_0*5
#print(string_2)

Howdy! Aggie rocks.
Howdy!
Aggie rocks.

# List

In [3]:
skills = ['R', 'Python', 'Tableau', 'SQL']
print(skills)

print('first training :', skills[0])

order = [1,2,3,4]
dac = [skills, order]   # dac = data_analytics_club
print(dac)

single_list = skills+order
print(single_list)

skills.append('MATLAB')
print(skills)

skills.insert(0, 'Data Analytics')
print(skills)


# skills.remove('SQL')
# print(skills)
# del skills[4]
# print(skills)

['R', 'Python', 'Tableau', 'SQL']
first training : R
[['R', 'Python', 'Tableau', 'SQL'], [1, 2, 3, 4]]
['R', 'Python', 'Tableau', 'SQL', 1, 2, 3, 4]
['R', 'Python', 'Tableau', 'SQL', 'MATLAB']
['Data Analytics', 'R', 'Python', 'Tableau', 'SQL', 'MATLAB']

# Tuple

In [4]:
# Similar to list, but unlike LIST, we CANNOT change a Tuple once it's created
skills_t0 = 'R', 'Python', 'Tableau', 'SQL'
skills_t1 = (1,2,3,4)
dac_t = skills_t0 + skills_t1

print (skills[2])
print (skills_t1[2])
print (dac_t)

#ERROR when try to change a tuple
skills[0] = 'X'

#-------------
#Convertion
new_list = list(dac_t)
print(type(new_list))

new_tupple = tuple(dac)
print(type(new_tupple))

Python
3
('R', 'Python', 'Tableau', 'SQL', 1, 2, 3, 4)
<class 'list'>
<class 'tuple'>

# Dictionaries

In [5]:
US_currency_0 = {'Dollar':'100 cents', 'Quarters':'25 cents', 'Dime':'10 cents', 'Penny':'5 cents'}
US_currency_1 = {'Dollar':100, 'Quarters':25, 'Dime':10, 'Penny':5}

print('US_currency_0 = ', US_currency_0)
print ('US_currency_1 = ', US_currency_1)

US_currency_1 ['EUR'] = 1.23
print('US_currency_1 = ', US_currency_1)

print(US_currency_0['Dollar'])
print(US_currency_1['Quarters'])

print(US_currency_1.get('Penny'))

US_currency_0['Dime'] = 10

print('US_currency_0 = ', US_currency_0)

print('KEYS = ', US_currency_0.keys(),'||', 'data type = ', type(US_currency_1.keys()))
print('VALUES = ', US_currency_0.values(),'||', 'data type = ', type(US_currency_1.keys()))
print('ITEMS = ', US_currency_0.items(),'||', 'data type = ', type(US_currency_1.keys()))

# ----------------

# word = ['One', 'Two', 'Three', 'Four', 'Five']
# numbers = [1, 2, 3, 4, 5]
# d = zip(word,numbers)
# print (dict(d))

US_currency_0 =  {'Dollar': '100 cents', 'Quarters': '25 cents', 'Dime': '10 cents', 'Penny': '5 cents'}
US_currency_1 =  {'Dollar': 100, 'Quarters': 25, 'Dime': 10, 'Penny': 5}
US_currency_1 =  {'Dollar': 100, 'Quarters': 25, 'Dime': 10, 'Penny': 5, 'EUR': 1.23}
100 cents
25
5
US_currency_0 =  {'Dollar': '100 cents', 'Quarters': '25 cents', 'Dime': 10, 'Penny': '5 cents'}
KEYS =  dict_keys(['Dollar', 'Quarters', 'Dime', 'Penny']) || data type =  <class 'dict_keys'>
VALUES =  dict_values(['100 cents', '25 cents', 10, '5 cents']) || data type =  <class 'dict_keys'>
ITEMS =  dict_items([('Dollar', '100 cents'), ('Quarters', '25 cents'), ('Dime', 10), ('Penny', '5 cents')]) || data type =  <class 'dict_keys'>

# Variables
* We use "=" to assign a value to a variable.
* We can refer to the value with its name.
#### Type of variables:
   - numerical:
    - int (integer): a number without a fractional part.
    - float (floating): a number that has both an integer and fractional part.
   - non-numerical:
    - str (string): a type of data to represent text.
    - bool (boolean): a type to represent logical values. (Can only be "True" or "False." Note that the first letter must be capitalized.)
    <br> 
    <br>
    
* <i> <b> Note: "=" is the assignment symbol and cannot be used to test equality.

In [6]:
# ASSIGNMENT
x = 5
y = x+10
print('x = ', x,';', 'y = ', y)
#----------
# TYPES
Z = 100  #integer
X = 13.7
Y = 'Data Analytics Club is awesome!'
W = True

print(type(Z), type(X), type(Y), type(W))
#----------
# BOOLEAN
z = 10
x = 10.0
print(z == x)
print(z == y)

x =  5 ; y =  15
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
True
False

In [7]:
type(Z)

int

#### Operations among different types of data ####

In [16]:
a = 'Data'
b = 'Analytics'
print(a+b)

python = 101
c = ' is basic python!'
print(python + c)

print(str(python)+c)

DataAnalytics

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Built in function

#### General
* print, type, input, int, str 

####  Arithmatic
* round, abs, complex, divmod, isinstance

#### List, Tuple
* len, min, max, list, count, append, extend, index, insert, pop, del, reverse, sort/sorted, find, 

#### String
* capitalize,  upper, lower, endswith, center, join, split, replace, strip

#### Dictionary
* zip, values, keys, items

## General

In [17]:
# print
a = 'string'
b = 1000
c = [1,2,3,4,5]
d = (1,2,3,4,5)
e = {'Texas' : 'USA', 'Kolkata' : 'India'}

print(a)
print(b)
print(c)
print(d)
print(e)

string
1000
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'Texas': 'USA', 'Kolkata': 'India'}

In [18]:
#type
print(type(a), type(b), type(c), type(d), type(e))
type(b)

<class 'str'> <class 'int'> <class 'list'> <class 'tuple'> <class 'dict'>

int

In [19]:
#input
x = input('Enter any input here =')
print(x)

#error
#print(x+5)

Enter any input here =5
5

In [186]:
# input
x = input('Enter any input here =')
x = int(x)
print(x+8)

Enter any input here =5
13

In [187]:
# string
x = input('Enter value for x = ')
y = x+ str(8)
print(y)

Enter value for x = 5
58

## Arithmatic

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [169]:
#round
print (round(5.6231)) 
print (round(5.6231, 2))

6
5.62

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [170]:
#abs
print(abs(-5))

c =complex('5+2j')
print (abs(c))

5
5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple in the format (quotient, remainder).

In [171]:
# divmod
divmod(9,2)

# type(divmod(9,2))
#[q,r] = divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [172]:
print (isinstance(1, int))
print (isinstance(1.0,int))
print (isinstance(1.0,(int,float)))

#print(isinstance([1,2], (int)))
#print(isinstance([1,2][0], (int)))

True
False
True

## List

In [173]:
fruits = ['apple', 'orange', 'pineapple', 'mangoes', 'banana']
nums = [13,24,85,44,11,7,8,2,56,47]

**len( )** is used to find the length of the list or the number of elements in a list.

In [174]:
print(len(fruits),',',len(nums))

5 , 10

**min( )** and **max( )** gives the minimum and maximum value in the list, if the list consists of all integer elements.

In [175]:
print(min(nums), ',', max(nums))

2 , 85

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose <a href = 'https://en.wikipedia.org/wiki/ASCII'> ASCII value </a> is the highest and the lowest when **min( )** is used.

In [176]:
print(min(fruits),',', max(fruits))

apple , pineapple

<i> ** Note that ** only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth. <i>

In [177]:
words = ['apple', 'azimuthalized', 'z', 'az']
print(min(words), ',', max(words))

apple , z

But if you want to find the **max( )** string element based on the length of the string then another parameter **'key=len'** is declared inside the **max( )** and **min( )** function.

In [178]:
print(min(words, key = len), ',', max(words, key = len))

z , azimuthalized

 ** <i> But what if numbers are declared as strings? <i> **

In [179]:
nlist = ['1','94','93','1000']
print (max(nlist),',',min(nlist))

94 , 1

**list()** function converts A string can be converted into a list of characters

In [185]:
list('Howdy!')

# # also converts tuples into list
# tu = (1,2,3)
# li = list(tu)

['H', 'o', 'w', 'd', 'y', '!']

**count( )** is used to count the number of a particular element that is present in the list.

In [224]:
num = [1,2,3,2,3,23,1,3,1,3,111,3,211,321,1]
num.count(1)

4

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [225]:
lst1 = [5,4,2,8]
num.append(lst1)
print(num)

[1, 2, 3, 2, 3, 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, [5, 4, 2, 8]]

But if nested list is not what is desired then **extend( )** function can be used.

In [226]:
num = [1,2,3,2,3,23,1,3,1,3,111,3,211,321,1]
num.extend(lst1)
print(num)

[1, 2, 3, 2, 3, 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the ** first index value ** of that element is returned.

In [227]:
num.index(3)

2

**insert(x,y)** inserts y at x position.

In [228]:
num.insert(5, 'name')
print (num)

[1, 2, 3, 2, 3, 'name', 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2, 8]

insert(x,y) inserts but does not replace element. If you want to replace the element with another element you ** simply assign the value to that particular index**

In [229]:
num[5] = 'boo'
num

[1, 2, 3, 2, 3, 'boo', 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2, 8]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [230]:
print(num.pop())
print(num)
print(num.pop(0))
print(num)

8
[1, 2, 3, 2, 3, 'boo', 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2]
1
[2, 3, 2, 3, 'boo', 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2]

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [231]:
num.remove('boo')
print(num)

[2, 3, 2, 3, 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2]

Alternative to **remove** function but with using index value is **del**

In [232]:
del num[0]
print(num)

[3, 2, 3, 23, 1, 3, 1, 3, 111, 3, 211, 321, 1, 5, 4, 2]

**reverse()** function reverses the entire elements present in the list

In [233]:
num.reverse()
print(num)

[2, 4, 5, 1, 321, 211, 3, 111, 3, 1, 3, 1, 23, 3, 2, 3]

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [248]:
num.sort()
print(num)
print(sorted(num))

[1, 1, 2, 2, 3, 3, 3, 3, 3, 4, 5, 23, 111, 211, 321, 999999, 1000000]
[1, 1, 2, 2, 3, 3, 3, 3, 3, 4, 5, 23, 111, 211, 321, 999999, 1000000]

For ** descending order **, By default the reverse condition will be False for reverse. Hence changing it to ** True ** would arrange the elements in descending order.

In [236]:
num.sort(reverse = True)
print(num)

[321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1]

## Something additional about LIST...

** Copying a LIST **

In [242]:
num_1 = num
print('num = ', num)
print('num_1 = ', num_1)

num =  [321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1]
num_1 =  [321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1]

In [243]:
num.pop()
num.append(1000000)
print(num)

[321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1000000]

In [244]:
print(num_1)

[321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1000000]

num_1 has also changed though no operation has been performed on it. This is because we have assigned the same memory space of num to num_1. So how do fix this?

We use the same concept of ** slicing ** (which will be discussed now) here. By doing so, we are assigning the data of lista to listb as a variable.

In [246]:
num_2 = num[:]
print(num_2)

num.append(999999)
print(num)
print(num_2)

[321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1000000]
[321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1000000, 999999]
[321, 211, 111, 23, 5, 4, 3, 3, 3, 3, 3, 2, 2, 1, 1, 1000000]

### INDEXING & SLICING

In [251]:
integers = [0,1,2,3,4,5,6,7,8,9,10]
print(integers[5])

print (integers[0:4])    # end not inclusive
print (integers[4:])

5
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]

* You can also slice a parent list with a fixed length or step length.

In [253]:
print(integers [:10:5])

[0, 5]

# Tuples

In [257]:
abc = divmod(10,3)
print(abc)
type(abc)

(3, 1)

tuple

# Strings

In [262]:
my_str = 'remember you are unique!'
print(my_str)

remember you are unique!

* Indexing and Slicing - Similar to List & Tuple

In [267]:
print(my_str[3])
print(my_str[9:])

e
you are unique!

**capitalize( )** is used to capitalize the first element in the string. <br>
** upper() ** is used to make all leters capital<br>
** lower() ** is used to make all leters lower

In [280]:
print(my_str.capitalize())
print(my_str.upper())
print(my_str.lower())

Remember you are unique!
REMEMBER YOU ARE UNIQUE!
remember you are unique!

**center( )** is used to center align the string by specifying the field width.

In [284]:
print(my_str.center(70))
#print(my_str.center(70, '-'))

                       remember you are unique!

**join( )** function is used to add a char in between the elements of the input string.

In [286]:
my_str.join('*_-+=@')

'*remember you are unique!_remember you are unique!-remember you are unique!+remember you are unique!=remember you are unique!@'

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the **join()** function.

In [287]:
my_str.split()

['remember', 'you', 'are', 'unique!']

In [293]:
my_str_1 = 'Remember, you\'re unique, like evveryone else'
print(my_str_1.split(','))
print(my_str_1.split('e'))

['Remember', " you're unique", ' like evveryone else']
['R', 'm', 'mb', "r, you'r", ' uniqu', ', lik', ' ', 'vv', 'ryon', ' ', 'ls', '']

**replace( )** function replaces the element with another element.

In [295]:
print(my_str_1.replace('Remember', 'Don\'t forget'))

Don't forget, you're unique, like evveryone else

**strip( )** function is used to delete elements from the right end and the left end which is not required.

In [299]:
f = '    hello      '
print(f)
g = f.strip()
print(g)
f1 ='   ***----hello---*******    '
g1 = f1.strip('*')
g2 = f1.strip(' *-')
print(g1)
print(g2)

    hello
hello
   ***----hello---*******
hello

# Dictionaries

In [301]:
d0 = {}
d0['One'] = 1
d0['OneTwo'] = 12 
print (d0)

{'One': 1, 'OneTwo': 12}

** zip() ** function is used for - Two lists which are related can be merged to form a dictionary.

In [306]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
d1 = zip(names,numbers)
print (dict(d1))

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [309]:
type(d1)

zip

In [310]:
d2={}
for i in range(len(names)):
    d2[names[i]] = numbers[i]
print (d2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [311]:
type(d2)

dict

** values(), keys(), items() **

In [312]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [313]:
d2.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

In [314]:
d2.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])